---
title: Fiction Interactive Webring
layout: html
---
<div id="container">
<p>Bienvenue sur le <a href=https://fr.wikipedia.org/wiki/Webring>webring</a> de la communauté francophone de fiction interactive, recensant ses membres.</p>
<p>Vous trouverez ci-dessous la liste recensant tous les membres de cet annuaire.</p>
    <!-- Bon, si j'arrive pas à faire marcher la liste de auteurs je peux faire une addition à côté du nom pour les auteurs et on a une seule liste. -->
 
<p>Avides de Fiction Interactive‎ ? Retrouvez notre communauté sur <a href="https://www.fiction-interactive.fr/">Fiction-Interactive.FR</a></p>
<p>Où trouver des Fictions Interactive ?
<ul>
    <li><a href="https://ifdb.org/search?searchfor=language%3Afr">Interactive Fiction Database</a></li>
    <li><a href="https://itch.io/games/lang-fr/tag-interactive-fiction">Itch.io</a></li>
    <li><a href="https://www.fiction-interactive.fr/category/fictions-interactives/">Fiction-Interactive.FR</a></li>
</ul>
</p>

<h2 id=members>Tous les Membres ({{site.data.members.size}})</h2>
<div id="members_list">
    <ul>
    {% for member in site.data.members %}
    <li><a href="{{member.url | xml_escape}}">{{member.name | xml_escape | newline_to_br}}</a> {% if member.author %} (A) {% endif %}
    {% endfor %}
    </ul>
</div>
<p>(A) représente un(e) auteur(rice).</p>

<p>Vous voulez faire partie de notre annuaire‎ ? <a href="{{'/join'|relative_url}}">Rejoignez-nous</a>‎ !</p>

<center>
    Cet webring est basé sur le concept de <a href="https://mincerafter42.github.io/tutorial/webring/">mincerafter42</a><br>
    Voir le Repo <a href={{site.github_repo_url}}/>GitHub</a> de cet Webring. 
</center>
</div>
